# Add /sys/class/leds/led2/brightness to dialout group, to allow weston user to write access
ACTION=="add", KERNEL=="led2", SUBSYSTEM=="leds", RUN+="/bin/chgrp dialout /sys/class/leds/led2/brightness"
ACTION=="add", KERNEL=="led2", SUBSYSTEM=="leds", RUN+="/bin/chmod g+w /sys/class/leds/led2/brightness"
